<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="./stylesheets/style.css"> -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/5a5b4e639f.js" crossorigin="anonymous"></script>
    <style>
/* BASIC */
    </style>
<!------ Include the above in your HEAD tag ---------->
    <title>Admin</title>
</head>
<body>
<header>
  <%- include('./header.ejs') %>.
</header>

<main>
  <p>Admin</p>
  <div class="container-lg">
    <form method="post" action="/admin/itemCreate">
      <div class="form-group">
        <label for="formcontrolinput">Item Name</label>
        <input required name="name" type="text" class="form-control" id="formcontrolinput" placeholder="Item Name">
      </div>
      <div class="form-group">
        <label for="formcontrolinput">Item Description</label>
        <input required name="description" type="text" class="form-control" id="formcontrolinput" rows="3" placeholder="Item Description"></textarea>
      </div>
      <div class="form-group">
        <label for="formcontrolinput">Item Price</label>
        <input required name="price" type="text" class="form-control" id="formcontrolinput" placeholder="Item Price">
      </div>
      <div class="form-group">
        <label for="formcontrolinput">Item Quantity</label>
        <input required name="stockNumber" type="text" class="form-control" id="formcontrolinput" placeholder="Item Quantity">
      </div>
      <div class="form-group">
        <label for="formcontrolinput">Photo URL</label>
        <input required name="imageUrl" type="text" class="form-control" id="formcontrolinput" placeholder="Item Photo URL">
      </div>
      <div class="form-group">
        <label for="formcontrolinput">Item Category</label>
        <input required name="category" type="text" class="form-control" id="formcontrolinput" placeholder="Item Category">
      </div>
      <div class="form-group">
        <input type="submit" value="Create Item" class="btn btn-primary"></button>
      </div>
    </form>
  </div>

  <!-- <div class="container-lg">
    <form method="post" action="/admin/itemDelete">
      <div class="form-group">
        <label for="formcontrolinput">Item ID</label>
        <input required name="" type="text" class="form-control" id="formcontrolinput" placeholder="Item ID">
      </div>
      <div class="form-group">
        <input type="submit" value="Delete Item" class="btn btn-danger"></button>
      </div>
    </form>
  </div> -->
<section>
  <div>
    <div class="p-lg-2 text-center bg-light">
      <h1 class="display-4">Inventory List</h1>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Item ID</th>
          <th scope="col">Item Name</th>
          <th scope="col">Item Description</th>
          <th scope="col">Item Price</th>
          <th scope="col">Item Quantity</th>
        </tr>
      </thead>
      <tbody>
        <% products.forEach(item => { %>
          <tr>
            <td><%= item.productId %></td>
            <td><%= item.name %></td>
            <td><%= item.description %></td>
            <td>$<%= item.price %></td>
            <td><%= item.stockNumber %></td>
          </tr>
        <% }) %>
      </tbody>
      </table>
  </div>
  </section>
</main>

<footer>
  <%- include('./footer.ejs') %>.
</footer>

</body>
</html>