<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/style.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/5a5b4e639f.js" crossorigin="anonymous"></script>
    <style>
/* BASIC */
img{
  width: 100px; height: 100px;
}
</style>
<!------ Include the above in your HEAD tag ---------->
    <title>User Profile</title>
</head>
<body>
<header>
  <%- include('./header.ejs') %>.
</header>

<main>
  <section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row">
        <!-- Profile Info (Left Side) -->
        <div class="col-lg-8">
          <form action="user-profile/updateUser" method="POST">
            <input type="hidden" name="userId" value="<%= user.userId %>">
          <div class="card mb-4">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h5 class="mb-0">Profile Information</h5>
                <button type="submit" class="btn btn-sm btn-outline-secondary" id="editSaveBtn">Edit</button>
              </div>
  
              <div class="row">
                <div class="col-sm-3">
                  <label for="username" class="form-label">Username</label>
                </div>
                <div class="col-sm-9">
                  <input type="text" name="username" id="username" class="form-control" value="<%= user.username %>">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <label for="email" class="form-label">Email</label>
                </div>
                <div class="col-sm-9">
                  <input type="text" name="email" id="email" class="form-control" value="<%= user.email %>">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <label for="street" class="form-label">Street Address</label>
                </div>
                <div class="col-sm-9">
                  <input type="text" name="street" id="street" class="form-control" value="<%= user.street %>">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <label for="city" class="form-label">City</label>
                </div>
                <div class="col-sm-9">
                  <input type="text" name="city" id="city" class="form-control" value="<%= user.city %>">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <label for="state" class="form-label">State</label>
                </div>
                <div class="col-sm-9">
                  <input type="text" name="state" id="state" class="form-control" value="<%= user.state %>">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <label for="zip" class="form-label">Zip Code</label>
                </div>
                <div class="col-sm-9">
                  <input type="text" name="zip" id="zip" class="form-control" value="<%= user.zip %>">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <label for="password" class="form-label">Password</label>
                </div>
                <div class="col-sm-9">
                  <input type="password" name="password" id="password" class="form-control" value="<%= user.password %>">
                </div>
              </div>
            </div>
          </div>
        </form>
        </div>
  
        <!-- Recent Orders (Right Side) -->
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="mb-4">Recent Orders</h5>
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex flex-column align-items-start">
                <% for(let orderItem of recentOrder.OrderItems) {%>  
                  <span><%= orderItem.Product.name %></span>
                  <img src="/images/<%= orderItem.Product.imageUrl %>.jpeg" alt="Purina Dog Food" class="img-fluid mt-2">
                <%}%>
                </li>
                
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="mb-4">Credit Card and Rewards Points</h5>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Card:</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">************567</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Reward Points:</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">105</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
</main>

<footer>
  <%- include('./footer.ejs') %>.
</footer>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const inputs = document.querySelectorAll('.card-body input');
    const button = document.getElementById('editSaveBtn');
    let isChanged = false;

    inputs.forEach(input => {
      input.addEventListener('input', () => {
        if (!isChanged) {
          button.textContent = 'Save';
          button.classList.remove('btn-outline-secondary');
          button.classList.add('btn-outline-success');
          isChanged = true;
        }
      });
    });
  });
</script>

</body>
</html>